@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    /* Medidas absolutas 
        cm,mmm,in,px,pt,pc

       Medidas Relativas
       em, ex, rem, vw, % 
    */
    font-size: 16px;
    font-style: oblique;
}
h1{
    /* Shorthand font

    -Font-style -> font-weigth -> font-size -> font-family
    */
    font: italic bolder 48px Arial, Helvetica, sans-serif;
}

h2{
    font: italic bolder 32px 'work sans-serif';
}